@model Movies.ViewModels.ShoppingCartIndexViewModel

@{
    ViewBag.Title = "Shopping cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping cart</h2>

<p>
    @if (!string.IsNullOrWhiteSpace(Model.SelectedCategory))
    {
        <text>(FILTERED)</text> <br />
    }
    Count: @Model.MoviesCount <br/>
    Total price: @Model.MoviesTotalPrice.ToString("F2") USD
</p>

@Html.Partial("MovieList")
